body {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(26,26,26,0.3), rgba(26, 26, 26, 0.5)),url("../images/pier.jpg");
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Montserrat, "Montserrat", Montserrat, Arial, sans-serif;
}

.sect {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.sect1 {
    height: 100%;
    background-image: url("../images/pier.jpg");
}

.subsect1 {
    width: 100%;
    margin: 0 auto;
}

.bg {
    background-color: red;
}