.sect {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.sect1 {
    background-image: linear-gradient(rgba(26,26,26,0.7), rgba(26, 26, 26, 0.7)), url("../images/pier.jpg");
}

.subsect1 {
    display: table;
    width: 100%;
    margin: 0 auto;
}
