@{
    ViewBag.Title = "Home";
}
<head>
    <link href="~/Content/LandingPage.css" rel="stylesheet" />
</head>
<div class="">
</div>

<div class="line">
</div>
@section scripts{
    <script src="~/Scripts/HideNavbar.js"></script>
}
