@{
    ViewBag.Title = "Home";
}
<head>
    <link href="~/Content/LandingPage.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<div class="section theader font" style="font-size: xx-large; color: white;" data-anchor="pic1">
    <h1>
        Tech Updates
        <br />
        Web Design
        <br />
        Computer Repair
    </h1>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="section intro" style="color: white;" data-anchor="pic2">
    <span>
        Preston Armstrong
        <br />
        Programmer. Gamer. Explorer.
        <br />
        Graduate of East Tennessee State University |
        Information Technology
    </span>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="line" data-anchor="pic3">
</div>
@section scripts{
    <!--
    <script type="text/javascript" src="vendors/scrolloverflow.min.js"></script>
        -->
    <script src="~/Scripts/inipage.js"></script>
    <script src="~/Scripts/fullpage.js"></script>
    <script src="~/Scripts/HideNavbar.js"></script>
}
