@{
    ViewBag.Title = "Home";
}
<head>
    <link href="~/Content/Landing.css" rel="stylesheet" />
</head>

<div class="sect">
    <div class="subsect1 sect1">

    </div>
</div>

@section scripts{
    <script src="~/Scripts/HideNavbar.js"></script>
}
